
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

html {
  font-size: 16px;
}
body {
    font-family: 'Short Stack', cursive;
    background-color: lavender;
    margin: 0;
    padding: 0;
}
html * {
  box-sizing: border-box;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  padding: 10px;
  font-size: 1.0rem;
  text-align: center;
}


h2 {
  color:hotpink;
  font-size: 3.0rem;
}
h2:hover {
text-shadow: 0 0 10px #bfaac4;
transform: scale(1.1);
transition: transform .3s ease-in-out;
}

#message {
  color: plum;
  font-size: 2.5rem;
  padding-bottom: 0%;
  text-align: center;
}

#resetButton {
  border-radius: 10px;
  font-family: 'Short Stack', cursive;
  background-color: paleturquoise;
  color: #b07bbb;
  margin: 1.0em auto;
  display: inline-block;
  border: 0;
  padding: 1.0em 1.5em;
  font-size: 1.5rem;
  cursor: pointer;
 }
 #resetButton:hover,
 #resetButton:active {
  box-shadow: 0 0 14px #b07bbb;
  transform: scale(1.1);
  transition: transform .3s ease-in-out;
 }

.area {
  width: 100%;
  position: relative;
  padding-bottom: 75%;
}

.flex-container {
  display: grid;
  background-color: #f6cbff;
  border-radius: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.flex-container button {
  border-radius: 12px;
  background-color: lavenderblush;
  border-color: lavender;
  font-size: 3.0rem;
  display: block;
  font-family: 'Short Stack', cursive;
  cursor: pointer;
  color: rgb(212, 179, 190);
}
.flex-container button:hover,
.flex-container button:active {
  box-shadow: 0 0 14px #b07bbb;
  transform: scale(1.0);
  background-color: #e6caec;
}

@media (min-width: 550px) {
 .flex-container button {
    font-size: 5.0rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 60vw;
    margin: 0 auto;
    padding: 2.0rem;
    font-size: 1.2vw;
  }
}

@media (min-width: 1500px) {
  .wrapper {
    max-width: 40vw;
    margin: 0 auto;
    padding: 4.0rem;
    font-size: 1.1vw;
  }
}

@keyframes message {
  0% {
    font-size: 2.5rem;
  }
  50% {
    font-size: 4.0rem;
  }
  100% {
    font-size: 3.0rem;
  }
}